<div id= "cart" class="small-6 small-offset-3 columns">
  <div class="pricing-table">
    <div id="cart_title" class="title">
      Shopping Cart
    </div>
    <%current_cart.items.each do |item|%>
    <div id= "cart_item" class="bullet-item">
      <form>
        <div id="item_quantity" class="small-1 columns">
            <select name="quantity">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
        </div>
      </form>
      <div class ="small-2 columns">
        <img id="thumb" src="<%= item.product.images.first.file_path %>">
        <%= item.product.name %> 
      </div>
      <div id="item_description" class ="small-3 columns">
        $<%= item.product.description %>
      </div>
      <div id="item_price" class ="small-1 columns">
        $<%= item.product.price %>
      </div>
      <div class ="small-1 columns" id="item_delete">
        <form action="/cart" method="POST">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="item_id" value="<%=item.id%>">
          <input type="submit" value="Delete">
        </form>
      </div>
    </div>  
    <%end%>
    <div id= "cart_total" class="bullet-item">
      <h5> 
        Total: $<%= current_cart.items.inject(0){|sum, item| sum + item.product.price} %>
      </h5>
      <form action="/charge" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" 
          class="stripe-button"
          data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
          data-amount="<%= current_cart.items.inject(0){|sum, item| sum + item.product.price} * 100%>"
          data-image="/images/logo/menu-logo-colored.png"
        >
        </script>
      </form>
    </div>
  </div>
</div>



