<div id= "cart" class="large-6 small-12 large-offset-3 small-centered-6 columns">
  <div class="pricing-table">
    <div id="cart_title" class="title row">
      Shopping Cart
    </div>
    <%current_cart.items.each do |item|%>
    <div id= "cart_item" class="row bullet-item">
      <div class ="small-4 columns">
        <img id="thumb" src="<%= item.product.images.first.file_path %>">
      </div>
      <div id="item_description" class ="large-4 small-4 columns">
        <%= item.product.name %>
      </div>
      <div id="item_price" class ="small-1 columns">
        $<%= item.product.price %>
      </div>
      <div class ="small-1 columns" id="item_delete">
        <form action="/cart" method="POST">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="item_id" value="<%=item.id%>">
          <input class="item_delete" type="submit" value="X">
        </form>
      </div>
    </div>  
    <%end%>
    <div id= "cart_total" class="bullet-item">
      <h5> 
        Total: $<%= current_cart.items.inject(0){|sum, item| sum + item.product.price} %>
      </h5>
      <form action="/cart" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" 
          class="stripe-button"
          data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
          data-amount="<%= current_cart.items.inject(0){|sum, item| sum + item.product.price} * 100%>"
          data-image="/images/logo/menu-logo-colored.png"
        >
        </script>
      </form>
    </div>
  </div>
</div>



