<% @seller.each do |seller| %>
<div id="seller_index">
  <div id="seller_index_image"> 
    <img src="<%= seller.image %>">
  </div>

  <div id="seller_index_text">
     <a href="/sellers/<%= seller.id %>"><p><%= seller.name %></p></a>
      <p><%= seller.location %></p> 
      <p><%= seller.story %></p> 
      <form action="/sellers/<%= seller.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" class="button" value="Delete this post">
      </form>
  </div>
</div>
<hr />
<% end %>