<form action="/sellers/<%= @seller.id %>" method="POST">
   <input type="hidden" name="_method" value="DELETE">
   <input type="submit" class="button" value="Delete this post">
</form>

<a href="/sellers/<%= @seller.id %>/edit" class="button">Edit</a>
<a href="/sellers/<%= @seller.id %>/edit" class="button">Home</a>


<p><%= @seller.name %></p>
<p><%= @seller.location %></p>
<p><%= @seller.blurb %></p>


<img src="<%=@seller.image%>">
