<div class="row">
  <div class="large-12 columns">
     <div class="row">
      <div class="large-12 hide-for-small">
          <div id="featured">
            <video width="1000" height="500" autoplay>
              <source src="<%= @seller.video %>" type="video/mp4">
            </video>
          </div>
    </div>
  </div>
   
   
    <div class="row">
      
   
    <div class="row">
      <div class="large-12 columns">
            <h3><%= @seller.name %></h3><br>
        <div class="row">
          <div class="large-8 small-8 columns">
            <div id="seller-info">
              <div id="info-wrap">
                <img id="seller-profile" src="<%=@seller.image%>">
                <h6 class="subheader"></h6>
                <p id="seller-text"><%= @seller.story%></p>
              </div>
            </div>
          </div>
           
                        
          <div class="large-4 small-12 columns">
            <h4>Work by <%= @seller.name %></h4><hr>
            <div class="row">
              <% @product.take(3).each do |product| %>
              <a href="<%= product.id %>">
              <div class="row">
              <div class="small-12 columns">
                <div class="image-wrapper overlay-fade-in">
                  <% product.images.each do |image| %>      
                  <img src="<%= image.file_path%>" />
                  <% end %>
                  <div class="image-overlay-content">
                    <h2><%= product.name %></h2>
                    <p class="price"><%= product.price %></p>
                   </div>
                 </div>
              </div>
              </div>
              </a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
  
     <% unless current_buyer %>
        <a href="/sellers/<%= @seller.id %>/edit" class="expand button radius">Edit</a>
        <form action="/sellers/<%= @seller.id %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Delete this post" class="expand button radius alert">
        </form>  
      <% end %>
           

    </div>   
  </div>
</div>

<script>
document.write('<script src=js/vendor/' +
('__proto__' in {} ? 'zepto' : 'jquery') +
'.js><\/script>')
</script>
<script src="js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>

