<p>Show</p>
=======
<p><%= @seller.name %></p>
<p><%= @seller.location %></p>
<p><%= @seller.blurb %></p>

<form action="/sellers/<%= @seller.id %>" method="POST">
   <input type="hidden" name="_method" value="DELETE">
   <input type="submit" value="Delete this post">
</form>

<a href="/sellers/<%= @seller.id %>/edit">Edit</a>
<img src="<%= @seller.image %>"  />


