<a href="/" class="button">Home</a>
<a href="/products/new" class="button">Add a new product</a>
<hr />

<% @product.each do |product| %>
 <a href="/products/<%= product.id %>"><p><%= product.name %></p></a>
  <p><%= product.price %></p>
  <p><%= product.description %></p> 
  <p><%= product.category %></p> 
<hr />
  <form action="/products/<%= product.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete this post">
  </form>
<% end %>
w