<div class="panel">
  <p><%= @product.name %></p>
  <p><%= @product.price %></p>
  <p><%= @product.description %></p>
  
  <div>
    <% @product.images.each do |image| %>
    <img src="<%= image.file_path %>">
    <% end %>
  </div>

</div>



</div>
 <form action="/products/<%= @product.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <ul class="right">
      <input type="submit" value="Delete this post" class="button">
      </ul>
</form>

<form method="post" action="/cart/item/add">  
<!-- <<<<<<< HEAD
      <input type="hidden" name="product_id" value="<%=# @product.id %>">
======= -->
      <input type="hidden" name="product_id" value="<%= @product.id %>">
<!-- >>>>>>> f9db5fb0ffe64ed41e30aba048bd540740c3dd90
      <ul class="right">
      <input type="submit" name="product_id" value="<%= #@product.id%>"class="button">add products</input>
      </ul> -->
</form>
