
<div class="row">
  <div class="small-6 columns">
     <div>
      <% @product.images.each do |image| %>
      <img class="product_page" src="<%= image.file_path%>">
      <% end %>
    </div>
  </div>

  <div class="small-6 columns">
    <div class="panel">
    <div id="product_description">
      <img id="thumb_2" src="<%= @seller.image %>">
      <h4><%= @seller.name %></h4>
      <p><%= @seller.location %></p>
      <h4>Category:</h4>
      <p><%= @product.category %></p>
    </div>
    <h2>Description:</h2>
      <p>
        <%= @product.description %>
      </p>
        <h3 class="text-center">$<%= @product.price %></h3>
        <form method="post" action="/cart/item/add">
          <input type="hidden" name="product_id" value="<%= @product.id %>">
          <input type="submit" value="Add to cart" class="expand button radius success">
        </form>
        <% unless current_buyer %>
          <form action="/products/<%= @product.id %>" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete this post" class="expand button radius alert">
          </form>    
       <% end %>
    </div>
    <div class= "row" id= "product_page">
      <div class="small-4 columns">
      <% @seller.products.where(id: rand((@seller.products.first.id)..(@seller.products.last.id))).take(3).each do |product| %>
        <% product.images.each do |image| %>
          <a href= "/products/<%= image.product.id %>"> 
            <img class="product_page" src="<%= image.file_path %>" alt="" />
            </a>
          <% end %>  
        <% end %> 
      </div>
      <div class="small-4 columns">
      <% @seller.products.where(id: rand((@seller.products.first.id)..(@seller.products.last.id))).take(3).each do |product| %>
        <% product.images.each do |image| %>
          <a href= "/products/<%= image.product.id %>"> 
            <img class="product_page" src="<%= image.file_path %>" alt="" />
            </a>
          <% end %>  
        <% end %> 
      </div>
            <div class="small-4 columns">
      <% @seller.products.where(id: rand((@seller.products.first.id)..(@seller.products.last.id))).take(3).each do |product| %>
        <% product.images.each do |image| %>
          <a href= "/products/<%= image.product.id %>"> 
            <img class="product_page" src="<%= image.file_path %>" alt="" />
            </a>
          <% end %>  
        <% end %> 
      </div>
      <p>
        Check out some other cool items by <%= @product.seller.name %> 
      </p>
    </div>
  </div>
</div>


