
<div class="row">
  <div class="large-2 columns">
    <img src="http://placehold.it/400x300&text=[img]">
<hr/>
    <img src="http://placehold.it/400x300&text=[img]">
<hr/>
    <img src="http://placehold.it/400x300&text=[img]">

  </div>

  <div class="large-5 columns">
     <div>
      <% @product.images.each do |image| %>
      <img class="testing" src="<%= image.file_path%>">
      <% end %>
    </div>
  </div>

  <div class="large-5 columns">
   <div class="panel">
    <h2>Description:</h2>
    <p>
      <%= @product.description %>
    </p>
      <h3 class="text-center">$<%= @product.price %></h3>
      <form method="post" action="/cart/item/add">
        <input type="hidden" name="product_id" value="<%= @product.id %>">
        <input type="submit" value="Add to cart" class="expand button radius success">
      </form>
      <% unless current_buyer %>
        <form action="/products/<%= @product.id %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Delete this post" class="expand button radius alert">
        </form>    
     <% end %>
    </div>
  </div>
</div>


